
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3
{
  font-family: 'Helvetica Neue', sans-serif;
}

span
{
  font-family: 'Merriweather', serif;

}

html
{ 
  scroll-behavior: smooth;
  
}

body 
{
  min-height: 100dvh;
  background: linear-gradient(135deg, #0e0e0e, #1c1c1c, #0a0a0a);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .container 
{
  margin: 0 auto;
  width: 1200px;
  padding: 0 1rem;
} */

/* Intro Section */

header 
{
  position: relative;
  z-index: 9999;
}

.menus .offcanvas-header h3
{
  font-family: La Belle Aurore;
  color: wheat;
}

.menus .offcanvas-header h3:hover
{
  text-decoration: underline;
  color: #9333ea;
}

.menus .offcanvas-body
{
  background-color: rgb(0, 0, 0);
}

.menus div ul li a
{
  line-height: 38px;
  color: rgb(255, 255, 255);
}

.menus div ul li a:hover
{
  color:white
}

/* offcanvas hide */
.offcanvas.show ~ .toggle-wrapper
{
    display: none;
}

/* slide hover on menus */

.sidebar .nav-link:hover,
.sidebar .nav-link.active 
{
  background-color: rgba(255, 255, 255, 0.34);
  border-left: 4px solid #dd4de4;
  border-radius: 5px;

}

/* Light Mode */

/* intro name text color */
body.light-mode .text-stroke 
{
  -webkit-text-stroke: 2px #f6f5f5 ;
}

body.light-mode h1 .span
{
  color: wheat;
}

/* navbar */

/* slide hover on menus */

body.light-mode  .sidebar .nav-link:hover,
body.light-mode  .sidebar .nav-link.active 
{
  background-color: rgba(255, 255, 255, 0.354);
  border-left: 4px solid #1d3557;
  border-radius: 5px;
}

body.light-mode .sidebar
{
   background: linear-gradient(135deg, #ffb703 , #9e2a2b,#1d3557);
}

/* .nav-link color */

body.light-mode .nav-link a,
body.light-mode .nav-link .offcanvas-header
{
  color: #faecec;
}

/* bg */
body.light-mode
{
  /* background: linear-gradient(154deg, #c1d0f3, #abc4ff,#e2eafc); */
  background: linear-gradient(135deg, #ffb703 , #9e2a2b,#1d3557);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body.light-mode .navbar,
body.light-mode .bio 
{
  background-color: #efefd7;
  color: #7678ed;
}

body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode p
{
  color: #121110;
}

/* btn-resume */

body.light-mode .btn-resume
{
  color: #7678ed !important;
}

/* cards light  */

body.light-mode .card
{
background: #fefae0;
}

/* li text color */
body.light-mode li 
{
  color: #7678ed;
}

/* p tag */

body.light-mode p 
{
  color: #7a7afa;
}

/* strong */
body.light-mode strong
{
  color: #415a77;
}

body.light-mode button 
{
 color:#090807;
}

/*Home*/

/* 
video 
{ */
  /* position: fixed;
  top: 0;
  left: 0; */
  /* width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: -1;
  filter: blur(1.5px);
} */

.text-stroke 
{
  color: #eee;
  color: transparent;
  -webkit-text-stroke: 2px #9333ea;
}

.get-button
{
  background: linear-gradient(to right, #9333ea, #ec4899);
  cursor: pointer;
}

.intro 
{
  min-height: 100vh;
}

.intro h1:hover 
{
  transform: scale(1.15);
  transition: 1s ease-in-out;
  cursor: pointer;
}

.intro p 
{
  color: #5c697b;
}

.intro p:hover
{
  color: #9333ea;
}

/* text scroll */

@keyframes marquee-1 
{
  0% 
  {
    transform: translateX(80vw);
    opacity: 0;
  }

  55% 
  {
    transform: translateX(0);
    opacity: 1;
  }

  70% 
  {
    transform: translateX(12px);
  }

  80% 
  {
    transform: translateX(-6px);
  }

  100% 
  {
    transform: translateX(0);
  }
}


.marquee-1 
{
  animation: marquee-1 4s cubic-bezier(0.38, 1.95, 1.0, 1) forwards;
}

@keyframes marquee-2 
{
  0% 
  {
    transform: translateX(100vw);
    opacity: 0;
  }

  40% 
  {
    opacity: 1;
  }
    
  100% 
  {
    transform: translateX(0);
      pacity: 1;
  }
}

.marquee-2
{
  animation: marquee-2 2s ease-in-out forwards;
}

/* btn scroll */

@keyframes btn-up
{
  0% 
  {
    opacity: 0;
    transform: translateY(100px);
  }
 
  40%
  {
    opacity: 0;
  }

  70%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 1;
    transform: translateY(0);
  }
}


.btn-up 
{
  animation: btn-up 3s ease-in-out forwards;
}


/* About Section , #e2d1c3, #fdfcfb*/

.about 
{
  padding: 5rem 3rem;
}

.about h1 span 
{
  color: #9333ea;
}

.about p 
{
  color: wheat;
  margin: 0 auto 1.5rem;
}

.about strong
{
  color: #8475ca;
}

.about p strong
{
  font-family: 'sofia';
}

.orbit-img 
{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  position: absolute;
  z-index: 1;
}

.top-right { top: 10%; right: 5%; }
.bottom-left { bottom: 10%; left: 5%; }
.top-left { top: 5%; left: 10%; }

.img_blur img
{
  filter:blur(0.8px);
}

.btn-resume
{
  outline: 2px solid #9333ea;
}

/* education */

.education 
{
  padding: 5rem 0;
}

.education h1 span 
{
  color: #9333ea;
}

/* Skills Section */

.skills 
{
  padding: 5rem 0;
}

.skills h1 span 
{
  color: #9333ea;
}

.card-1 
{
  position: relative;
  width: 190px;
  height: 254px;
  border-radius: 15px;
}

.card-1::before 
{
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #1cc2ff 0%, #ff261b 100%);
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-1::after 
{
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #1cffa4 0%, #ff01aee6 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(12px);
}

.card-1:hover::before 
{
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

/* Projects Section */

.projects 
{
  padding: 5rem 0;
}

.projects h1 span 
{
  color: #9333ea;
}

.projects-grid 
{
 gap: 36px;
 text-align: justify;
}
/* 
.project-card 
{
  backdrop-filter: blur(9px);
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: #1b1919 1px 1px 9px;
  width: 10rem;
} */

.project-image 
{
  opacity: 0.8;
  transition: opacity 0.3s;
}

.project-image:hover 
{
  opacity: 1;
}

.project-content a 
{
    transition: color 0.3s;
}

.project-content a:hover 
{
    color: #9333ea;
}

/*.slide 
{
    transform-origin: top left;
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }

.slider:hover .slide,
.slider:focus .slide 
{
    transform: translateX(0);
    opacity:1;
}

.slider .slide:nth-of-type(1) 
{
    transition-delay: 0ms;
}

.slider .slide:nth-of-type(2) 
  
{
    transition-delay: 300ms;
}

.slider .slide:nth-of-type(3) 
{
    transition-delay: 600ms;
}

.slider .slide:nth-of-type(4) 
{
    transition-delay: 900ms;
}*/ 


.slide {
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.slide.show {
  transform: translateX(0);
  opacity: 1;
}

.slider .slide:nth-of-type(1) {transition-delay: 0ms;}

.slider .slide:nth-of-type(2) {transition-delay: 300ms;}

.slider .slide:nth-of-type(3) {transition-delay: 600ms;}

.slider .slide:nth-of-type(4) {transition-delay: 900ms;}

/* Soft Skills */

.card-2 
{
  position: relative;
  width: 190px;
  height: 255px;
  border-radius: 15px;
}

.card-2::before 
{
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 265px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #1cc2ff 0%, #ff261b 100%);
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-2::after 
{
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, 0) scale(0.95);
  background: linear-gradient(-45deg, #1cffa4 0%, #ff01aee6 100%);

  filter: blur(12px);
}

.card-2:hover::before 
{
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


/* .borders
{
  border: 2px solid red;
}

.borders .borders-1
{
  border: 2px solid rgb(54, 243, 76);
}

.borders .borders-2
{
  border: 2px solid rgb(102, 0, 255);
} */


/* Contact Section */

.contact 
{
  padding: 5rem 0;
}

.social-links a:hover 
{
  color: #9333ea;
  transform: scale(1.1);
}

input, textarea 
{
  caret-color: #9333ea;
}


/* .form_vl {
  border-right: 2px solid rgb(232, 238, 232);
  border-top: 2px solid rgb(232, 238, 232);
  border-radius:8px 0 0 0;

}

.form_vl2
{
   border-top: 2px solid rgb(232, 238, 232);
   border-radius:0 8px 0 0  ;
} */ 

/* Responsive */
/* @media (max-width: 768px) 
{
    .intro h1 
    {
        font-size: 3rem;
    }
    
    .intro p 
    {
        font-size: 1.25rem;
    }
    
    .skills-grid 
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) 
{
    .intro h1 
    {
        font-size: 2.5rem;
    }
    
    .skills-grid
    {
        grid-template-columns: 2fr;
    }
    
    .projects-grid 
    {
        grid-template-columns: 1fr;
    }
}*/
