
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3
{
  font-family: 'Helvetica Neue', sans-serif;
}

span
{
  font-family: 'Merriweather', serif;

}

html
{ 
  scroll-behavior: smooth;
  
}

body 
{
  min-height: 100dvh;
  background: linear-gradient(135deg, #0e0e0e, #1c1c1c, #0a0a0a);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .container 
{
  margin: 0 auto;
  width: 1200px;
  padding: 0 1rem;
} */

/* Intro Section */

header 
{
  position: relative;
  z-index: 9999;
}

.menus .offcanvas-header h3
{
  font-family: La Belle Aurore;
  color: wheat;
}

.menus .offcanvas-header h3:hover
{
  text-decoration: underline;
  color: #9333ea;
}

.menus .offcanvas-body
{
  background-color: rgb(0, 0, 0);
}

.menus div ul li a
{
  line-height: 38px;
  color: rgb(255, 255, 255);
}

.menus div ul li a:hover
{
  color:white
}

/* offcanvas hide */
.offcanvas.show ~ .toggle-wrapper
{
    display: none;
}

/* slide hover on menus */

.sidebar .nav-link:hover,
.sidebar .nav-link.active 
{
  background-color: rgba(255, 255, 255, 0.34);
  border-left: 4px solid #dd4de4;
  border-radius: 5px;

}

/* Light Mode */

/* intro name text color */
/* body.light-mode .text-stroke 
{
  -webkit-text-stroke: 2px #120303 ;
} */

body.light-mode h1 .span
{
  color:#9333ea;
}

/* navbar */

/* intro */

body.light-mode .draw-2 svg path 
{
  fill: transparent;
  stroke: #0a0a0a;
  stroke-width: 0.3;
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: text-light 3s ease-in-out forwards;
}

@keyframes text-light 
{
  0% {
    stroke-dashoffset: 170;
    fill: transparent;

  }
  20% 
  {
    stroke-dashoffset: 135;
    fill: transparent;
  }
  40% 
  {
    stroke-dashoffset: 110;
    fill: transparent;
  }
  70% 
  {
    fill: transparent;
    stroke-dashoffset: 50;
  }
  100% 
  {
    fill: #0a0a0a;
    stroke-dashoffset: 0;
  }
} 

/* slide hover on menus */

body.light-mode  .sidebar .nav-link:hover,
body.light-mode  .sidebar .nav-link.active 
{
  background-color: rgba(255, 255, 255, 0.354);
  border-left: 4px solid #1d3557;
  border-radius: 5px;
}

body.light-mode .sidebar
{
   /* background: linear-gradient(135deg, #ffb703 , #9e2a2b,#1d3557); */
  background: linear-gradient(154deg, #c1d0f3, #abc4ff,#e2eafc);
}

body.light-mode .sidebar li a
{
  color: #020202;
}

body.light-mode .sidebar li a:hover
{
  color: #7722c6c7;
}

body.light-mode .sidebar h3
{
  color: #000000;
}

/* .nav-link color */

body.light-mode .nav-link .offcanvas-header
{
  color: #faecec;
}

/* bg */

body.light-mode
{
  background: linear-gradient(154deg, #c1d0f3, #abc4ff,#e2eafc);
  /* background: linear-gradient(135deg, #ffb703 , #9e2a2b,#1d3557); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


body.light-mode .bio 
{
  background-image: linear-gradient(139deg,#bbf3ff,#94c2fe, hsl(218, 100%, 83%),#bdb6f7, #9cadff);
}

body.light-mode h1,
body.light-mode h2,
body.light-mode h3
{
  color: #121110;
}

/* btn-resume */

body.light-mode .btn-resume button
{
  color: #020202;
}

/* about */

body.light-mode .about strong,li
{
  color:rgb(139, 8, 165);
}

body.light-mode .about p 
{
  color: #000000;
}

body.light-mode .about a
{
  color: #9333ea;
}

body.light-mode .about .bio ul li
{
  color: #020202;
}

body.light-mode .about .bio a .btn-resume
{
  color: #0b0510;
}

/* education */
body.light-mode .education h5{
  color:rgb(8, 6, 6);
}

/* project */
body.light-mode .projects .slider h2
{
  color:black;
}

body.light-mode .projects .slider p
{ 
  color:#0a0a0a;
}

body.light-mode .projects .slider a
{
  color: #000000;
}

body.light-mode .projects .slider a:hover
{
  color: #9333ea;
}

body.light-mode .projects .slide
{
  background-image: linear-gradient(335deg,#bbf3ff,#94c2fe, hsl(218, 100%, 83%),#c3bff0, #9cadff);
}

/* cards light  */

body.light-mode .card
{
  background-image: linear-gradient(135deg,#bbf3ff,#94c2fe, #77a9ff,#cdc6ff, #9cadff);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body.light-mode .card p,a,h5
{
  color: black;
}

/* contact */
body.light-mode .social-links a 
{
  border-radius: 20%;
  border: #0a0a0a 2px solid;
}

body.light-mode .social-links svg
{
  fill: #0a0a0a;
}

body.light-mode .contact label
{
  color: #020202;
}

/* copyright */
body.light-mode .copyright div
{
  border: 1px solid #0a0a0a;
  margin-bottom: 58px;
}

body.light-mode .copyright p,h2
{
  color: #020202;
}


body.light-mode .draw-2 svg path
{
  fill: transparent;
  stroke: #0a0a0a;
}
/*Home*/

/* 
video 
{ */
  /* position: fixed;
  top: 0;
  left: 0; */
  /* width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: -1;
  filter: blur(1.5px);
} */

/* .text-stroke 
{
  color: #eee;
  color: transparent;
  -webkit-text-stroke: 3px #9333ea;
} */

.get-button
{
  background: linear-gradient(to right, #9333ea, #ec4899);
  cursor: pointer;
}

.copyright p,h2
{
  color: white;
}

.intro 
{
  min-height: 100vh;
}

.intro h1:hover 
{
  transform: scale(1.15);
  transition: 1s ease-in-out;
  cursor: pointer;
}

.intro p 
{
  color: #5c697b;
}

.intro p:hover
{
  color: #9333ea;
}

/* text scroll */

@keyframes marquee-1 
{
  0% 
  {
    transform: translateX(-180px);
    opacity: 0;
  }

  52% 
  {
    transform: translateX(0);
    opacity: 1;
  }

  70% 
  {
    transform: translateX(-12px);
  }

  80% 
  {
    transform: translateX(6px);
  }

  100% 
  {
    transform: translateX(0);
  }
}


.marquee-1 
{
  animation: marquee-1 4s cubic-bezier(0.38, 1.95, 1.0, 1) forwards;
}

@keyframes marquee-2 
{
  0% 
  {
    transform: translateX(220px);
    opacity: 0;
  }

  20% 
  {
    opacity: 0;
  }
    
  50% 
  {
    opacity: 1;
    transform: translateX(0);
  }

  100% 
  {
    transform: translateX(0);
    opacity: 1;
  }
}

.marquee-2
{
  animation: marquee-2 3s ease-in-out forwards;
}

/* btn scroll */

@keyframes btn-up
{
  0% 
  {
    opacity: 0;
    transform: translateY(100px);
  }
 
  40%
  {
    opacity: 0;
  }

  70%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 1;
    transform: translateY(0);
  }
}

/* second h1 */
.draw-2 svg path
{
  fill: transparent;
  stroke:white;
  stroke-width: 0.2;
  stroke-dasharray:170;
  stroke-dashoffset:170;
  animation: text 3s ease-in-out forwards;
}

@keyframes text 
{
  0% 
  {
    stroke-dashoffset: 170;

  }

  20% 
  {
    stroke-dashoffset: 135;
    fill: transparent;
  }

  40%
  {
    stroke-dashoffset:110;
    fill: transparent;
  }

  70%
  {
    fill: transparent;
    stroke-dashoffset: 50;
  } 

  100% 
  {
    fill: white;
    stroke-dashoffset: 0;
    } 
}

/* for scale */
/* @keyframes scale
{
  0%
  {
    scale: 1;
  }

  100%
  {
    scale: 1.3;
  }
} */

/*first h1 */
.draw-1 svg path
{
  color: #dd4de4;
  fill: transparent;
  stroke-width: 0.2;
  stroke-dasharray:50;
  stroke-dashoffset:50;
  animation: text-1 3s ease-in-out forwards;
}

@keyframes text-1 
{
  0% 
  {
    stroke-dashoffset: 100;
  }

  70%
  {
    stroke-dashoffset:50 ;
  } 

  100% 
  {
    fill: #9333ea;
    stroke-dashoffset: 0;
    } 
}

.btn-up 
{
  animation: btn-up 3s ease-in-out forwards;
}

/* About Section , #e2d1c3, #fdfcfb*/

#about 
{
  scroll-margin-top: 5px;
}

.about 
{
  padding: 5rem 3rem;
}

.about h1 span 
{
  color: #9333ea;
}

.about p 
{
  color: wheat;
  margin: 0 auto 1.5rem;
}

.about strong
{
  color: #8475ca;
}

.about p strong
{
  font-family: 'sofia';
}

.about .bio ul li
{
  color:white;
}

.orbit-img 
{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  position: absolute;
  z-index: 1;
}

.top-right { top: 10%; right: 5%; }
.bottom-left { bottom: 10%; left: 5%; }
.top-left { top: 5%; left: 10%; }

.img_blur img
{
  filter:blur(0.8px);
}

.bio .btn-resume
{
  outline: 2px solid #9333ea;
  color:white;
}

.bio .btn-resume:hover
{
  color:#9859cb;
  outline: 2px solid white;
}


/* education */
.education 
{
  padding: 5rem 0;
}

.education h1 span 
{
  color: #9333ea;
}

.education h5
{
  color: white;
}

/* Skills Section */

.skills 
{
  padding: 5rem 0;
}

.skills h1 span 
{
  color: #9333ea;
}

.card-1 
{
  position: relative;
  width: 190px;
  height: 254px;
  border-radius: 15px;
}

.card-1::before 
{
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #1cc2ff 0%, #ff261b 100%);
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-1::after 
{
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #1cffa4 0%, #ff01aee6 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(12px);
}

.card-1:hover::before 
{
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

/* Projects Section */

.projects 
{
  padding: 5rem 0;
}

.projects h1 span 
{
  color: #9333ea;
}

.projects-grid 
{
 gap: 36px;
 text-align: justify;
}

.projects-grid .card:hover 
{
  outline: 2px outset rgba(155, 152, 152, 0.504);
  transform: translateY(-2%);
  transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.project-image 
{
  opacity: 0.8;
  transition: opacity 0.3s;
  justify-content: center;
  align-items:center;
  display:flex;
}

/* .project-image:hover 
{
  opacity: 1;
} */

.project-content a:hover 
{
    color: #9333ea;
}

.card:hover .project-image,
.card:focus-within .project-image,
.card:active .project-image 
{
  opacity: 1;
}


/*.slide 
{
    transform-origin: top left;
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }

.slider:hover .slide,
.slider:focus .slide 
{
    transform: translateX(0);
    opacity:1;
}

.slider .slide:nth-of-type(1) 
{
    transition-delay: 0ms;
}

.slider .slide:nth-of-type(2) 
  
{
    transition-delay: 300ms;
}

.slider .slide:nth-of-type(3) 
{
    transition-delay: 600ms;
}

.slider .slide:nth-of-type(4) 
{
    transition-delay: 900ms;
}*/ 


.slide {
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.slide.show {
  transform: translateX(0);
  opacity: 1;
}

.slider .slide:nth-of-type(1) {transition-delay: 0ms;}

.slider .slide:nth-of-type(2) {transition-delay: 300ms;}

.slider .slide:nth-of-type(3) {transition-delay: 600ms;}

.slider .slide:nth-of-type(4) {transition-delay: 900ms;}

/* Soft Skills */

.card-2 
{
  position: relative;
  width: 190px;
  height: 255px;
  border-radius: 15px;
}

.card-2::before 
{
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 265px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #1cc2ff 0%, #ff261b 100%);
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-2::after 
{
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, 0) scale(0.95);
  background: linear-gradient(-45deg, #1cffa4 0%, #ff01aee6 100%);

  filter: blur(12px);
}

.card-2:hover::before 
{
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


/* .borders
{
  border: 2px solid red;
}

.borders .borders-1
{
  border: 2px solid rgb(54, 243, 76);
}

.borders .borders-2
{
  border: 2px solid rgb(102, 0, 255);
} */


/* Contact Section */

.contact 
{
  padding: 5rem 0;
}

.social-links a:hover 
{
  color: #9333ea;
  transform: scale(1.1);
}

input, textarea 
{
  caret-color: #9333ea;
}


/* .form_vl {
  border-right: 2px solid rgb(232, 238, 232);
  border-top: 2px solid rgb(232, 238, 232);
  border-radius:8px 0 0 0;

}

.form_vl2
{
   border-top: 2px solid rgb(232, 238, 232);
   border-radius:0 8px 0 0  ;
} */ 

/* Responsive */
/* @media (max-width: 768px) 
{
    .intro h1 
    {
        font-size: 3rem;
    }
    
    .intro p 
    {
        font-size: 1.25rem;
    }
    
    .skills-grid 
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) 
{
    .intro h1 
    {
        font-size: 2.5rem;
    }
    
    .skills-grid
    {
        grid-template-columns: 2fr;
    }
    
    .projects-grid 
    {
        grid-template-columns: 1fr;
    }
}
*/
