*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    cursor: pointer; 
}
/* Media Query'S */
@media screen and (max-width: 740px){
    nav{
        display: inline-block;
    }
}
h1{
    color: gray;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    background-attachment: fixed;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.05);  */
}
.logo-text{
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.star{
    color: red;
    font-size: 20px;
}
.navigation a{
    margin-right: 40px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: gray;
    text-decoration: none;
}
.navigation a:hover{
    color: pink;
    transition: 0.5s;
}
.icons i{
    font-size: 20px;
    color: black;
    margin-right: 5px;
}
.icons i:hover{
    color: pink;
    transition: 0.5s;
}
.background img{
    background-size: 80vh;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.text h1{
    position: absolute;
    top: 40%;
    right: 60%;
    left: 2%;
    font-family: sans-serif;
    margin-right: 20px;
    font-size: 50px;
}
.text h4{
    position: absolute;
    font-size: 30px;
    color: pink;
    top: 50%;
    right: 60%;
    left: 2%;
    font-family: sans-serif;
    margin-right: 20px;
}
.text p{
    position: absolute;
    font-size: 17px;
    color: rgb(0, 0, 0);
    top: 58%;
    right: 60%;
    left: 2%;
    font-family: sans-serif;
    margin-right: 20px;
}
.text button{
    position: absolute;
    top: 75%;
    right: 60%;
    left: 2%;
    padding: 10px 3%;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}
.text button:hover{
    color: black;
    background-color: pink;
    transition: 0.5s;
}
section{
    width: 80%;
    height: 50px;
    /* border: 1px solid black; */
    margin-left: 100px;
    background-color: rgba(230, 230, 250, 0.274);
}
section div{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}
.about h1{
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 400px;
    margin-bottom: 10px;
}
.about span{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.main{
    width: 100%;
    display: inline-block;
}
.main div{
    display: inline-block;
    width: 49%;
}
.quation h1{
    margin-bottom: 10px;
}
.quation button{
    padding: 10px 5%;
    background-color: black;
    color: white;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    font-family: sans-serif;
}
.quation button:hover{
    background-color: hotpink;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.short_banner{
    background-color: lightgray;
    margin-top: 400px;
    width: 100%;
}
.short_banner div{
    margin: 30px;
    margin-left: 100px;
    width: 20%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: rgb(255, 255, 255);   
}
.short_banner div:hover{
    transform: rotate(30deg);
    transition: 0.5s;
}
.short_banner img {
    margin-top: 10px;
    margin-left: 5px;
    width: 50px;
    margin-left: 90px;
    height: 60px;
}
.short_banner img:hover{
    transform: scale(1);
    transition: 0.3;
}
.short_banner h1{
    color: hotpink;
    text-align: center;
    font-size: 30px;
}
.short_banner h5{
    color: hotpink;
    font-size: 20px;
    text-align: center;
}
.products{
    background-color: rgba(230, 230, 250, 0.274);
    margin-right: 170px;
    margin-left: 170px;
}
.products h1{
    color: black;
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.products span{
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.images{
    margin-right: 100px;
    margin-left: 150px;
    /* width: 100%; */
}
.images div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
    margin: 5px;
    /* border: 1px solid black; */
    text-align: center;
}
.images img{
    width: 300px;
    height: 250px;
    margin: 10px;
}
.images img:hover{
    transform: scale(1.05);
    transition: 0.9s;
    background-color: red;
}
.images h1{
    font-size: 40px;
}
.images h2{
    color: gray;
    text-align: center; 
}
.reviews{
    width: 80%;
    margin-left: 140px;
    align-items: center;
    background-color: rgba(230, 230, 250, 0.418);
}
.images span{
    text-align: center;
}
.reviews h1{
    color: black;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}
.reviews span{
    color: hotpink;
}
.conatiner_review{
    width: 100%;
}
.conatiner_review div{
    width: 25%;
    height: 300px;
    margin-left: 80px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.616);
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.conatiner_review div:hover{
    transform: scale(0.95);
    transition: 0.9s;
}
.conatiner_review p{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
}
.conatiner_review img{
    margin-top: 10px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.contact h1{
    background-color: rgba(230, 230, 250, 0.425);
    width: 80%;
    margin-left: 140px;
    color: hotpink;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.contact span{
    color: black;
}
.contact {
    width: 100%;
}
.contact div{
    width: 40%;
    display: inline-block;
    align-items: center;
    margin-left: 100px;
    margin-top: 40px;
    height: 500px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.137);
}
table{
    height: 495px;
}
.form [type=text]{
    width: 100%;
    height: 50px;
    border: none;
    border: 1px solid black;
    border-radius: 3px;
}
.form [type=email]{
    width: 100%;
    height: 50px;
    border: none;
    border: 1px solid black;
    border-radius: 3px;
}
.form [type=number]{
    width: 100%;
    height: 50px;
    border: none;
    border: 1px solid black;
    border-radius: 3px;
}
.form textarea{
    resize: none;
}
.form button{
    color: white;
    padding: 10px 10%;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    background-color: gray;
}
.extra a{
    text-decoration: none;
}
.extra h1{
    margin-top: 20px;
    color: black;
    text-align: center;
}
.links{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 30px;
}
.links a{
    font-size: 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.links button{
    background-color: lavender;
    padding: 10px 5%;
    border-radius: 30px;
    letter-spacing: 2px;
    border-top: 1px solid plum;
    border: none;
}
.links button:hover{
    background-color: pink;
    transition: 0.5s;
    transform: scale(0.9);
}